{{!< default}}

<main class="content" role="main">

  <article>
    <h1>What is Open Wichita?</h1>

    <p>
      An initiative to bring the benefits of open data and civic hacking to Wichita.
    </p>

    <p>
      <strong>Civic hacking</strong> is a grassroots effort bringing citizens together to solve
      problems within a community using technology.
    </p>

    <p>
      <strong>Open data</strong> is the idea that all publicly collected data should be freely
      available to use and redistribute by anyone interested in doing so.
    </p>

    <p>
      When local governments and businesses start opening up their data sets for
      others to use, amazing things can happen. Visit the <a href="/about">about
      page</a> to learn more.
    </p>

    <h1>Recent Updates</h1>
  </article>

  {{#foreach posts}}

  <article class="preview">
    <header>
      <h2 class="post-title">
        <a href="{{url}}">{{{title}}}</a>

        <span class="post-meta">
          <time datetime="{{date format='YYYY-MM-DD'}}">
            &nbsp;--&nbsp;{{date format="DD MMMM YYYY"}}
          </time>
        </span>
      </h2>
    </header>
  </article>

  {{/foreach}}

  {{pagination}}

</main>
