{{!< default}}

<main class="content" role="main">

  <article>
    <h1>Recent Updates</h1>
  </article>

  {{#foreach posts}}

  <article class="preview">
    <header>
      <h2 class="post-title">
        <a href="{{url}}">{{{title}}}</a>

        <span class="post-meta">
          <time datetime="{{date format='YYYY-MM-DD'}}">
            &nbsp;--&nbsp;{{date format="DD MMM YYYY"}}
          </time>
        </span>
      </h2>
    </header>
  </article>

  {{/foreach}}

  {{pagination}}

</main>
